.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 170px;
    margin-top: 30px;
}
.parentli{
    float: right;

}
.segment {
    display: grid;
    place-items: left;
    text-align: left;
     /* grid-template-rows: 50px;   */
}

.twelve {
    grid-column: 1/ span 12; /* Start from the 1st colum across 12 columns */
}

.eight {
    grid-column: 5/ span 8; /* Start from the 5th column across 8 columns */
}

.center{
    
        grid-column: 5/ span 3; /* Start from the 5th column across 8 columns */
        text-align: center;
}

.four {
    grid-column: 1/ span 4; /* Start from the 1st column across 4 columns */
}


.six {
    background-color: lightsteelblue;
    grid-column: 5/ span 6; /* Start from the 5th column across 6 columns */
}

.seven {
    background-color: lightcoral;
    grid-column: 3/ span 7; /* Start from the 3rd column across 7 columns */
}

.threetoten{
    grid-column: 3/ span 10;
}

.onetoeight{
    grid-column: 1/ span 8;
}

.ninetotwelve{
    grid-column: 9/ span 12;
}

.ninetoeleven{
    grid-column: 9/ span 11;
}

.eighttoeleven{
    grid-column: 8/ span 11;
}

.fivetoeight{
    grid-column: 5/ span 3;
}

.onetotwo{
    grid-column: 1/ span 2;
}
.threetofour{
    grid-column: 3/ span 1;
}
/* start colums /span no of columns */
.fivetosix{
    grid-column: 5/ span 1;
}

.seventoeight{
    grid-column: 7/span 1;
}
.twotothree{
    grid-column:2/span 3;
}
.fivetotwelve{
    grid-column: 5/span 12;
}
@media (max-width:800px){
    .parent {
        display: grid;
        grid-template-columns:repeat(4,1fr);
        padding-left: 50px;
        padding-right: 35px;
        margin-top: 10px;
    }
    .segment {
        display: grid;
        place-items: left;
        text-align: left;
         /* grid-template-rows: 50px;   */
    }
    
    .twelve {
        grid-column:1/span 4;
        /* Start from the 1st colum across 12 columns */
    }
  
    .eight {
        grid-column: 2/ span 4; /* Start from the 5th column across 8 columns */
    }
    
    .center{
        
            grid-column: 1/ span 4; /* Start from the 5th column across 8 columns */
            text-align: center;
    }
    
    .four {
        grid-column: 1/ span 2; /* Start from the 1st column across 4 columns */
    }
    
    
    .six {
        background-color: lightsteelblue;
        grid-column: 5/ span 6; /* Start from the 5th column across 6 columns */
    }
    
    .seven {
        background-color: lightcoral;
        grid-column: 3/ span 4; /* Start from the 3rd column across 7 columns */
    }
    
    .threetoten{
        grid-column: 3;
    }
    
    .onetoeight{
        grid-column: 1/ span 4;
    }
    
    .ninetotwelve{
        grid-column:3/span 4;
    }
    
    .ninetoeleven{
        grid-column: 1/span 4;
    }
    
    .eighttoeleven{
        grid-column: 3/ span 4;
    }
    
    .fivetoeight{
        grid-column: 1/ span 4;
    }
    
    .onetotwo{
        grid-column: 1;
        padding-left: 15px;
        padding-left: 15px;
    }
    .threetofour{
        grid-column: 2;
        padding-left: 15px;
        padding-left: 15px;
    }
    /* start colums /span no of columns */
    .fivetosix{
        grid-column: 3;
        padding-left: 15px;
        padding-left: 15px;
    }
    .seventoeight{
        grid-column: 4;
        padding-left: 15px;
        padding-left: 15px;
    }
    .threetotwelve{
        grid-column:1/span 4;
    }
    .imgw{
        width: 100%;
    }
}

